.top-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 6px #00000010);
}

.top-header__logo-container {
  width: 100%;
  justify-self: flex-start;
  max-width: 15rem;
}

.top-header__logo-container figure img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.top-header__nav:not(#fixed-nav) {
  width: 100%;
  max-width: 25rem;
  margin: auto;
  transform: translateX(-20%);
}

.top-header #open-nav {
  color: #000;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 4px;
  border: none;
  background-color: var(--azul);
}

.top-header__nav-ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.top-header__nav-li {
  text-transform: capitalize;
}

.top-header__nav-li a {
  text-decoration: none;
  font-size: 14pt;
  padding: 0.25rem;
  font-weight: 600;
  color: var(--azul2);
  position: relative;
  transition: all 250ms ease-out;
}

.top-header__nav-li a::before {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  min-width: 1%;
  bottom: 0;
  left: 0;
  background-color: var(--azul2);
  opacity: 0;
  transition: all 300ms ease-out;
}

.top-header__nav-li a:hover {
  filter: brightness(120%);
}

.top-header__nav-li a:hover::before {
  min-width: 100%;
  opacity: 1;
  transition: all 300ms ease;
}

/* Nav mobile */
.top-header__nav#fixed-nav {
  display: none;
  z-index: 10;
  position: fixed;
  user-select: none;
  background-color: var(--azul);
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: 0;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  transition:
    transform 700ms ease,
    opacity 200ms ease-in;
}

.top-header__nav#fixed-nav #close-nav {
  background-color: var(--azul);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  top: 5px;
  right: 5px;
}

@media (max-width: 850px) {
  .top-header__logo-container,
  .top-header {
    justify-content: center;
    gap: 8px;
  }
  .top-header__nav {
    transform: translate(0) !important;
    padding: 10px;
  }
}

@media (max-width: 610px) {
  /* Classes para toggle do menu fixado */
  .opened-menu {
    opacity: 1;
    transform: translateX(0);
  }
  .closed-menu {
    opacity: 0;
    transform: translateX(100%) !important;
  }

  .top-header {
    justify-content: space-around;
  }

  .top-header__nav:not(#fixed-nav) {
    display: none !important;
  }

  .top-header__nav#fixed-nav,
  .top-header #open-nav {
    display: flex;
  }

  .top-header__nav-ul {
    flex-flow: column nowrap !important;
    gap: 12px;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .top-header__nav-li a {
    color: #fff;
    font-size: calc(6vw + 1px);
  }
}
