@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.top-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 6px #00000010);
}

.top-header__logo-container {
  width: 100%;
  justify-self: flex-start;
  max-width: 15rem;
}

.top-header__logo-container figure img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.top-header__nav:not(#fixed-nav) {
  width: 100%;
  max-width: 25rem;
  margin: auto;
  transform: translateX(-20%);
}

.top-header #open-nav {
  color: #fff;
  fill: #fff;
  display: none;
  align-items: center;
  border-radius: 2px;
  justify-content: center;
  padding: 4px;
  border: 2px solid var(--azul);
  background-color: var(--azul);
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}


.top-header #open-nav:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: var(--azul);
  border-radius: 8px;
}

.top-header #open-nav:hover:active {
  transform: scale(1.05);
  transition: 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #2c41aa7c;
}

.top-header #open-nav:focus, .top-header #open-nav:focus-within {
  outline: 1px solid var(--azul2);
  border-color: #2c41aa;
  outline-offset: 2px;
  background-color: #2c41aa;
  transition: 100ms ease;
}

.top-header #open-nav:hover span {
  transform: scale(0.79);
  transition: 240ms ease-out;
}

.top-header__nav-ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.top-header__nav-li {
  text-transform: capitalize;
}

.top-header__nav-li a {
  text-decoration: none;
  font-size: 14pt;
  padding: 0.25rem;
  font-weight: 600;
  color: var(--azul2);
  position: relative;
  transition: all 250ms ease-out;
}

.top-header__nav-li a::before {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  min-width: 1%;
  bottom: 0;
  left: 0;
  background-color: var(--azul2);
  opacity: 0;
  transition: all 300ms ease-out;
}

.top-header__nav-li a:hover {
  filter: brightness(120%);
}

.top-header__nav-li a:hover::before {
  min-width: 100%;
  opacity: 1;
  transition: all 300ms ease;
}

/* Nav mobile */
.top-header__nav#fixed-nav {
  display: none;
  z-index: 10;
  position: fixed;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: -3px 1px 8px #00000010;
  background-color: var(--azul);
  width: 100%;
  height: 100%;
  max-width: 300px;
  top: 0;
  right: 0;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  transition:
    transform 700ms ease,
    opacity 200ms ease-in;
}

.top-header__nav#fixed-nav #close-nav {
  background-color: var(--azul);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  top: 5px;
  right: 5px;
}

@media (max-width: 850px) {
  .top-header__logo-container,
  .top-header {
    justify-content: center;
    gap: 8px;
  }
  .top-header__nav {
    transform: translate(0) !important;
    padding: 10px;
  }
}

@media (max-width: 610px) {
  /* Classes para toggle do menu fixado */
  .opened-menu {
    opacity: 1;
    transform: translateX(0.5rem) !important;
  }
  .closed-menu {
    opacity: 0;
    transform: translateX(100%) !important;
  }

  .top-header {
    justify-content: space-around;
  }

  .top-header__nav:not(#fixed-nav) {
    display: none !important;
  }

  .top-header__nav#fixed-nav,
  .top-header #open-nav {
    display: flex;
  }

  .top-header__nav-ul {
    flex-flow: column nowrap !important;
    gap: 12px;
    /* text-align: left; */
    align-items: flex-start !important;
    justify-content: flex-start !important;
    /* margin: auto; */
  }

  .top-header__nav-li a {
    color: #fff;
    font-size: calc(6vw + 1px);
  }
}
