@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "./reset.css";
@import "./header.css";
@import "./footer.css";
@import "./checkbox.css";

:root {
  --azul: #1b357e;
  --azul2: #1351d8;
  --Lato: "Lato";

  --bannerWidth: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(120px, max-content) 1fr max-content;
  background-color: #fff;
  gap: 0px;
  font-family: var(--Lato);
}

/* Main content */

.main-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 2px auto;
}

/* MAIN BANNER */

.main-content-banner {
  width: 100%;
  height: 100%;
}

.banner-container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
}

.banner-container .banner-container-img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
}

.banner-container .banner-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-container .banner-container-img div {
  width: 100%;
  padding: 0.34rem;
  text-align: center;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
  justify-content: center;
}

/* Pagina de lancamento */

.main-content-banner.--launch {
  background-color: #000;
}

.main-content-banner.--launch div {
  position: relative;
  width: 100%;
  max-width: 1400px;
  aspect-ratio: 16/8;
  margin: 0 auto;
}

.main-content-banner.--launch video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  display: block;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.launch-container {
  width: 100%;
  margin-top: 1rem;
}

.launch-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 380px));
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.launch-card {
  width: 100%;
  aspect-ratio: 4/3;
  box-shadow: 0px 4px 8px #00000020;
  background-color: #fff;
}

.launch-card__thumbnail {
  width: 100%;
}

.launch-card__thumbnail figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.launch-card__thumbnail figure img {
  display: block;
  width: 100%;
  transform: scale(0.8);
  inset: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.launch-card__info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1rem;
}

.launch-card__info:nth-child(2) div {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.launch-card__info:nth-child(2) div h1 {
  font-size: 14pt;
  color: #323232;
  font-weight: 700;
}

.launch-card__info:nth-child(2) div h2 {
  font-size: 13pt;
  color: #432;
}

.launch-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launch-action button {
  padding: 1rem;
  width: 100%;
  max-width: 340px;
  background-color: var(--azul2);
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
  font-size: 15pt;
  color: #fff;
  cursor: pointer;
  transition: all 250ms ease;
}

.launch-action button:hover {
  background-color: var(--azul);
}

/* Contato */

.contato-container {
  width: 100%;
  margin: 2rem 0;
}

.contato-container__div-form {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contato-container-img {
  width: 100%;
  max-width: max-content;
}

.contato-container-form {
  width: 100%;
  max-width: 500px;
}

.contato-container-form form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.contato-container-form form h1 {
  font-size: 2rem;
  color: #323232;
  margin-bottom: 1rem;
}

.contato-container-form form fieldset {
  border: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}

.contato-container-form form fieldset input,
.contato-container-form form fieldset select {
  border: 1px solid #aeaeae;
  color: #434343;
  padding: 0.68rem;
  border-radius: 5px;
  font-size: 13pt;
  font-weight: 200;
  background-color: #fff;
  width: 100%;
}

.contato-container-form form fieldset input:focus,
.contato-container-form form fieldset select:focus {
  outline: 1px solid var(--azul2);
}

.contato-container-form form fieldset button {
  background-color: var(--azul2);
  color: #fff;
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-left: auto;
  border: 2px solid var(--azul2);
  padding: 0.65rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 250ms ease-out;
}

.contato-container-form form fieldset button:hover {
  background-color: var(--azul);
  border-color: var(--azul);
}

@media (max-width: 600px) {
  .container, .contato-container, .launch-container {
    padding: 0.55rem;
  }
}