@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "./reset.css";
@import "./header.css";
@import "./footer.css";

:root {
  --azul: #1b357e;
  --azul2: #1351d8;
  --Lato: "Lato";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(120px, max-content) 1fr max-content;
  background-color: #fff;
  gap: 0px;
  font-family: var(--Lato);
}
